<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
   <link rel="stylesheet" href="style.css">
   <style>
    /* background-image:url("/public/pic.jpg")    */

   </style>
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>click here to login</h1>
        <div class="btn-group">
          <!-- <a class="btn-item" href="">Learn HTML</a> -->
          <form action="" method="post">
            <!-- <input type="button" class="btn-item" name="lg" value="login"> -->
             <!-- <input type="text" name="sd" id="text" > -->
             <input type="submit"  class="btn-item" value="Login">
             <!-- <a class="btn-item" href="login.ejs">Login</a> -->
        </form>
        </div>
      </div>
      <form action="/register" method="post">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Register here</h2>
        </div>
        <div class="info">
          <!-- <input class="fname" type="text" name="name" placeholder="Full name" autocomplete="off"> -->
          <input type="text" name="email" placeholder="Email"   autocomplete="off">
          <!-- <input type="text" name="contact" placeholder="Phone number"  autocomplete="off"> -->
          <input type="password" name="password" placeholder="Password"  autocomplete="off">
          <input type="password" name="c_password" placeholder="Confirm Password"  autocomplete="off">
           
          <!-- <select name="course" id="course">
            <option value="" selected>Course type*</option>
            <option value="short-courses" name="short_courses">Short courses</option>
            <option value="featured-courses" name="featured-courses">Featured courses</option>
            <option value="undergraduate" name="undergraduate">Undergraduate</option>
            <option value="diploma" name="diploma">Diploma</option>
            <option value="certificate" name="certificate">Certificate</option>
            <option value="masters-degree" name="masters_degree">Masters degree</option>
            <option value="postgraduate" name="postgraduate">Postgraduate</option>
          </select> -->
        </div>
        <!-- <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a href="https://www.w3docs.com/privacy-policy">Privacy Poalicy for W3Docs.</a></span>
        </div> -->
        <button type="submit" href="">Submit</button>
      </form>
    </div>
  </body>
</html>